<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Contas Bancarias</title>
    <link rel="stylesheet" href="style.css">
</head>
<body onload="carregarListaMainDeContas()">

    <button id="alterar-tema">Alterar Tema</button>

    <header><h1>Gerenciador de Contas Bancarias</h1></header>

    <main id="painel-principal">
        <div class="container">
            <aside id="menu-services" style="display: none;">
                <button class="sair" id="sair-menu-services">X</button>
                <section id="aside-filtro" style="display: none;">
                    <h4>Lista de filtros</h4>
                    <form id="filtros" onsubmit="aplicarFiltro(event)">
                        <div>
                            <div>
                                <input type="checkbox" name="filtro1" id="filtro1">
                                <label for="filtro1">Filtrar contas com numero par</label>  
                            </div>
                        </div>
                        <div class="filtro">
                            <div>
                                <input type="checkbox" name="filtro2" id="filtro2">
                                <label for="filtro2">Filtrar contas com saldo maior que:</label>
                            </div>
                            <input type="number" name="valorFiltro2">
                        </div>

                        <button type="submit">Aplicar</button>
                    </form>
                </section>

                <section id="aside-ordenacao" style="display: none;">
                    <h4>Lista de Ordenação</h4>
                    <form id="ordenacao" onsubmit="aplicarOrdenacao(event)">
                        <div>
                            <div>
                                <input type="checkbox" name="ordenacao1" id="ordenacao1">
                                <label for="ordenacao1">Ordenar contas por nome (A-Z)</label>  
                            </div>
                        </div>
                        <div class="ordenacao">
                            <div>
                                <input type="checkbox" name="ordenacao2" id="ordenacao2">
                                <label for="ordenacao2">Ordenar contas por saldo (decrecente)</label>
                            </div>
                        </div>

                        <button type="submit">Aplicar</button>
                    </form>
                </section>

                <section id="aside-agrupar" style="display: none;">
                    <h4>Lista de Agrupamentos</h4>
                    <form id="agrupar" onsubmit="aplicarAgrupamento(event)">
                        <div>
                            <div>
                                <input type="checkbox" name="agrupamentos1" id="agrupamentos1">
                                <label for="agrupamentos1">Agrupar contas por faixas de saldo</label>  
                            </div>
                        </div>
                        <div class="filtro">
                            <div>
                                <input type="checkbox" name="agrupamentos2" id="agrupamentos2">
                                <label for="agrupamentos2">Agrupar contas com faixa de saldo personalizada:</label>
                            </div>
                            <div>
                                <p>De:</p>
                                <input type="number" name="agrupamentos2value1">
                                <p>Até</p>
                                <input type="number" name="agrupamentos2value2">
                            </div>
                        </div>

                        <button type="submit">Aplicar</button>
                    </form>
                </section>
            </aside>
            <section class="menu" style="top: 0;">
                <menu>
                    <li><button id="btn-filtrar" class="btn-services" onclick="abrirMenuServices(this)">Filtrar</button></li>
                    <li><button id="btn-ordenar" class="btn-services" onclick="abrirMenuServices(this)">Ordenar</button></li>
                    <li><button id="btn-agrupar" class="btn-services" onclick="abrirMenuServices(this)">Agrupar</button></li>
                </menu>
                <p id="p-descricao-servico-aplicado">Filtro ou ordenação ou agrupamento aplicado</p>
            </section>
            <hr>
            <section class="contas">
                <ul id="lista-main">
                    <!-- <div>
                        <legend id="legenda-agrupamento">Agrupamento</legend>
                        <li>
                            <button id="email" class="conta" onclick="selecionarContas(this)" onblur="contaDeselecionada()">Conta.toString()</button>
                        </li>
                    </div> -->
                </ul>
            </section>
            <hr>
            <section  class="menu" style="height: 20px;">
                <menu>
                    <li><button id="cadastrar-acessar" onclick="cadastrarOuAcessarConta(this)">Cadastrar nova conta</button></li>
                </menu>
            </section>
        </div>
    </main>

    <footer><p>© João Alves Passos</p></footer>
</body>

    <script src="script.js"></script>
    <script src="contaController.js"></script>
    <script src="servicesController.js"></script>

</html>