<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Contas Bancarias</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <button id="alterar-tema">Alterar Tema</button>

    <header><h1>Gerenciador de Contas Bancarias</h1></header>

    <main id="painel-principal">
        <div class="container">
            <section class="menu" style="top: 0;">
                <menu>
                    <li><button>Filtrar</button></li>
                    <li><button>Ordenar</button></li>
                    <li><button>Agrupar</button></li>
                </menu>
                <p>Filtro ou ordenação ou agrupamento aplicado</p>
            </section>
            <hr>
            <section class="contas">
                <ul>
                    <li>
                        <button class="conta" onclick="selecionarContas(this)" onblur="contaDeselecionada()">Conta.toString()</button>
                    </li>
                </ul>
            </section>
            <hr>
            <section  class="menu" style="height: 20px;">
                <menu>
                    <li><button id="cadastrar-acessar" onclick="cadastrarOuAcessarConta(this)">Cadastrar nova conta</button></li>
                </menu>
            </section>
        </div>
    </main>
    <main id="form-cadastro-acessar" style="display: none;">
        <div class="container">
            <button class="sair" onclick="voltarListaDeContas()">Sair</button>
            <div class="title">
                <p id="title-cadastrar-acessar">Cadastrar conta</p>
            </div>
            
            <form id="cadastrar-conta" style="display: none;">
                <div>
                    <label for="">Titular</label>
                    <input type="text">
                    <label for="">E-mail</label>
                    <input type="email">
                    <label for="">Senha</label>
                    <input type="password">
                    <button type="submit">Cadastrar conta</button>
                </div>
            </form>

            <form id="acessar-conta" style="display: none;">
                <div>
                    <label for="">E-mail</label>
                    <input type="email">
                    <label for="">Senha</label>
                    <input type="password">
                    <button type="submit">Acessar conta</button>
                </div>
            </form>
        </div>
    </main>

    <footer><p>© João Alves Passos</p></footer>
</body>

    <script src="script.js"></script>

</html>